body{
    font-family: 'Oswald', sans-serif;
}

/* Hero Section */
#hero-section{
    background-image: url("../img/bg-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#hero-section div{
    position: absolute;
    top: 2.813rem;
    left: 0;
    right: 0;
    margin: auto;
}

/* Hero section btn */
#game-btn{
    margin-top: 25rem;
    align-items: center;
}